body {
  background-color: rgb(3, 3, 3);
  color: white;
  text-align: center;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(2, 2, 32);
  padding: 10px;
  border-radius: 10px;
  height: 350px;
  width: 500px;
  border: white solid 1px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-container input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

.btn-div button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}

.added-notes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
